<!--//////////////CODE CHO MÀN HÌNH CẢNH BÁO LỖI HỆ THỐNG////////////// -->
  <div id = "alarm_screen">

      <!--Table Cảnh báo Alarm-->
    <div id = "div_table_Alarm">
      <table id="table_Alarm" >
          <thead>
          <tr>
              <th>Thời gian</th>
              <th>ID cảnh báo</th>
              <th>Trạng thái</th>
              <th>Nội dung cảnh báo</th>
          </tr>
          </thead>
      </table>
    </div>

</div>     
